/* Project Settings Component Styles */
 
/* Main layout containers */
  .project-setting-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;
    max-height: 768px;
  }
  
  /* Common panel styles */
  .info-panel {
      /* background: #ffffff; */
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      height: 100%;
  }

  .info-panel {
    flex: 1;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    place-items: top;
    min-width: 25rem;
    max-width: 28rem;
  }
  
  input[type='file'] {
    padding: 5px;
  }

